* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header .navbar ul {
  display: flex;
}

.header .navbar ul li {
  margin: 0 20px;
  list-style: none;
}

.header .navbar ul li a {
  transition: all 0.3s ease 0s;
  margin: 0 20px;
  text-decoration: none;
  list-style: none;
}

.header .navbar ul li a:hover {
  color: #0088a9;
}

.top {
  background-image: url(img-mission-background.jpeg);
  height: 700px;
  /* width: 1200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

#mission {
  display: flex;
  justify-content: center;
}

.container-main {
  text-align: center;
}

.image {
  height: 200px;
  width: 300px;
}

.col{
  display: flex;
  justify-content: space-around;
}

.col .cards p {
  display: flex;
  justify-content: space-around;
}

.bottom {
  background-image: url(img-locations-background.jpeg);
  height: 500px;
  background-position: center;
  padding-top: 80px;
}

#locations {
  text-align: center;
}

.bottom .cards {
  display: flex;
  justify-content: space-around;
  padding-top: 15px
}

.contact {
  text-align: center;
}

.footer {
  padding-left: 20px;
  text-align: left;
}
